    body{
        font-family: 'Teko', sans-serif;
        margin: 0%;
        background-color: rgba(47, 80, 80, 0.247);
    }
    h1{
        font-size: 50px;
    }
    .head2{
        font-size: 50px;
        color: rgb(146, 122, 255);
    }
    #head1{
        font-style: italic;
        font-size: 60px;
        
    }

    h2{
        font-size: 40px;
    }
    .flexible-container{
        display: flex;
       
        
        

    }
    section{

        display: flex;
        
        margin-bottom: 100px;
    }
    p{
        font-size: 30px;
    }
    .orange-color{
        color: rgb(76, 0, 255);
        padding-left: 1%;
    }
    .half-width{
        width: 50%;
        padding-left: 5%; 
        background-color: rgba(137, 216, 205, 0.548);
        
    }
    .half-width img{
        width: 100%;
        height: 100%;
      
    }
    .2ndhalf-width{
        width: 50%;
        padding-left: 5%; 
        background-color: rgba(137, 216, 205, 0.548);
    }
    .2ndhalf-width img{
        width: 100%;
        height: 100%;
    }

    .link-button{
        text-decoration:none;
        background-color: darkslategrey;
        font-size: 40px;      
        padding: 10px 10px;
        color: rgb(235, 73, 73);
        border-radius: 20px;
        border-color: yellow;
        font-weight: 500;

    }
    .top-banner{
        background-image: url(images/emovebg-preview.png);
        background-position: center;
        display: flex;

    }
   
    
    .big-img{
        height: 90%;
        width: 100%;
        
        size-adjust: 10px;
        
    }
    .dream-big{
    background-image: url(images/transparent-preview.png);
  /*  background-repeat: no-repeat; */
    background-position: right;
    background-color: rgb(192, 240, 82);
    

    }
    .ex{
        
        
    }
    
    .experience-area{
        background-image: url(images/Color-Effects-Free-PNG-Image.png);
        background-position-y: center;
        background-position-x: center;
        background-color: rgb(238, 183, 64);
        

    }
    .experience-area h1{
        color: rgb(101, 245, 132);
        background-color: tomato;
        margin-left: 10px;
        margin-right: 10px;
        box-shadow: 10px 10px 10px tomato;
        border-radius: 5px;
    }
   
    .experience-item{
        width: 500px;
        margin-left: 5%;
        margin-right: 5%;
        box-shadow: 10px 10px 10px tomato;
        border-radius: 10px;
        padding-left: 20px;
        background-color: rgba(168, 156, 87, 0.842);
    }